.logo {
    display: flex;
    flex-direction: column;
}

.logo-title {   

    font-family: Georgia;
    font-size: 3.2rem;
    color: $color-primary;
 //font-weight: 400;
    line-height: 110%;     /* or 35px */
    letter-spacing: 0.06em;
    padding-bottom: 10px;
    margin: 0;
   // text-align: left;
}

.logo-subtitle {
    font-size: 1.3rem;
   // font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
  // text-align: left;
   text-align: center;
}