.about {
    background: $color-light-xl;
}

.about__wrapper {
    display: flex;
    padding: 80px 175px;
    min-height: 588px;
    @include media-tablet {
        padding: 80px 20px;
        flex-direction: column-reverse;
    }
}

.aboutImageDog {
    width: 50%; 
    @include media-tablet{
        width: 100%;
    }
}
.aboutShelter{
    width: 50%;
    @include media-tablet{
        width: 100%;
    }
}  

.aboutShelterContent {
    display: flex;
    flex-direction: column;
    padding: 14px 0;  
    gap: 25px;
}

.aboutShelterHeading {
    color: $color-dark-l;
    width: 370px;
    height: 90px;
    @include media-mobile{
        width: 300px;
    }

}