.about {
    background: $color-light-xl;
}

.about__wrapper {
    display: flex;
    padding: 80px 175px;
    min-height: 588px;
    @include media-laptop {
        padding: 80px 20px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 48px;
    }
    @include media-mobile {
        padding: 42px 20px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }
}

.aboutImageDog {
    width: 50%; 
    @include media-laptop{
        width: 100%;
        max-width: 300px;
    }
    @include media-mobile{
        max-width: 260px;
    }
}

.aboutImageDog img{
    max-width: 300px;   
    width: 100%;
}
.aboutShelter{
    width: 50%;
    width: 430px;
    @include media-tablet{
        width: 100%;
    }
}  

.aboutShelterContent {
    display: flex;
    flex-direction: column;
    padding: 14px 0;  
    gap: 25px;
}

.aboutShelterHeading {
    color: $color-dark-l;
    @include media-mobile{
        width: 300px;
    }

}