.donation {
    background: $color-light-l;
  }
  
.donation__wrapper {
  display: flex;
  padding: 80px 142px 93px;
  @include media-laptop {
    padding: 43px 0;
    flex-flow: column-reverse wrap;
    //justify-content: center;
    align-items: center;
    gap: 43px;
  }  
}

.donationDog img {
  padding: 11px 30px 10px 0;
  @include media-laptop {
    max-width: 505px;
  } 
  @include media-tablet{
    width: 100%;
    padding: 0;
  }
  @include media-mobile {
    max-width: 260px;
    
  } 
}
  
.donationContent {
  color: $color-dark-l;
  max-width: 380px;
 
}

.creditCard {
  max-width: 355px;
  background-color: $color-primary;  // #F1CDB3;
  padding: 10px 15px 10px 15px;
  border-radius: 9px;
  color: color-dark-l;
}

.creditCard:hover {
  background-color: $color-primary-light;
  cursor: pointer;
}
.creditCard a {
  text-decoration: none;
}

.creditCard h4{
  margin: 0px;
  text-decoration: none;
  color: $color-dark-l;
}

.creditCardContent { 
  display:flex;
  align-items: center; 
}

.creditCardContent img {  
 margin-right: 16px;
 color: $color-dark-3xl;
}  

.donation-description {
  color: $color-dark-m;  // #B2B2B2;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;  /* or 150% */
  margin-top: 20px;
//display: flex;
//align-items: center;  
  @include media-laptop {
    text-align: justify;
  } 

}