.layout-3-column{
    display: flex;
    gap: 150px;
    padding-top: 40px;

    @include media-laptop {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contacts-title, .locations-title {
    color: $color-light-xl;
}

 .email, .phone {
    display: flex;
    color: $color-primary;
    margin-top: 40px;
}

.contacts-link {
    text-decoration: none;
}

.pin {
    display: flex;
    color: $color-primary;
    margin-top: 32px;
}
.pin img, .email img, .phone img{
    margin-right: 20px;
}
.locations, .contacts{
   margin-top: 16px;
   flex: 1;
}

.footer-puppy {
    vertical-align: bottom ; 
}