.help {
    background: $color-light-xl;
    padding: 80px 0 45px 0;
    @include media-tablet {
        padding: 50px 0 45px 0;
    }
    @include media-mobile {
        padding: 0px 0 0px 0;
    }

}

.helpHeading {
    text-align: center;
    color: $color-dark-l;
}

.helpItem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
    text-align: center;
    column-gap: 120px;
    @include media-mobile {
        column-gap: 70px;
       // justify-content:start;
       // width: 50%;
     }
}

.helpItemIcon img {
    @include media-tablet {
        width: 50px;
    }
}

.helpItemIconTitle {
    
    color: $color-dark-l;
    margin: 22px 0 55px 0;
}     