.navigation {
    display: flex;
    @include media-tablet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 41px;
    }

}

.navigation__link {
    list-style: none;
    margin-left: 35px;
    font-family: Arial;
    font-size: 1.5rem;
    color: $color-dark-s;
    line-height: 2.4rem;
    @include media-tablet {
        flex-direction: column;
        font-size: 3.2rem;
        line-height: 160%;
    }    
}

.header__navigation {
    /*@include media-tablet {
        display: none;
    }*/
    font-family: Arial;
    font-size: 1.5rem;
    color: $color-dark-s;
    line-height: 2.4rem;
    @include media-tablet {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        min-width: 320px;
        height: 100%;
        margin: 0;
       // padding: 80px 0;
       // list-style: none;
      //  background-color: $color-dark-3xl;
        //box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .5s;
    }
}

.navigation-main {
    color: $color-dark-s;
    text-decoration: none;
}

.navigation-pets {
    color: $color-dark-l; // #545454;
    text-decoration: none;
}

.active-main {
    color: $color-light-xl;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 4px;
}

.active-pets {
    color: $color-dark-3xl; //#292929
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 4px;
}

.navigation-main:hover{
    color: $color-light-s;  
    transition: all .3s;
}

.navigation-pets:hover{
    color: $color-dark-3xl; //#292929  
    transition: all .3s;
}

.navigation__link:first-child {
    margin-left: 0px;
    border-bottom: 0px;
}

.active-main-mobile {
    right: 0 !important;
    padding-top: 150px;
    background-color: $color-dark-3xl; 
}

.active-pets-mobile {
    right: 0 !important;
    padding-top: 150px;
    background-color: white; 
}

.vertical-navigation {
    padding: 0;
}

.blur-back-active{
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
}
