.pets-block {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0 60px 0;
    justify-content: center;
    column-gap: 40px;
   // justify-content: space-between;
    row-gap: 30px;

}


.buttons-block {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.burger__line_pets .burger__line, .burger__line_pets:after, .burger__line_pets:before {
    background-color: #000;
}
/*
burger:before {
    @extend %burger-line;
    background: #000;
}

burger:after {
    @extend %burger-line;
    background: #000;
}  */