.pets {
    background: $color-light-l;
    padding: 80px 0px 100px;
    @include media-tablet{
        padding: 42px 0px;   
    }
}

.petsSlider{
    padding: 60px 0;
    display: flex; 
    align-items: center;
    
    @include media-tablet{
        flex-wrap: wrap;
        justify-content: center;
        padding: 42px 0;
    }
}

.button-arrow-left{
    
    @include media-tablet{
        order: 3; 
        margin-top: 20px;  
        margin-right: 42px; ;   
    }
}

.petsInternal{
    display: flex;
    //justify-content: space-between;
    justify-content: space-evenly;
   // margin: 0 53px;
    flex-grow: 1;   
    order: 2;
    @include media-tablet{
        order: 1;
        width: 100%;
        justify-content: space-evenly;
    }   
}

.petsInternal .card:nth-child(3) {
    @include media-laptop {
        display: none;
    }
}

.petsInternal .card:nth-child(2) {
    @include media-tablet {
        display: none;
    }
}
   
.button-arrow-right
{
    order: 3;
   // margin-left: 42px;
    margin-top: 20px; 
}

.petsHeading{
    color: $color-dark-l;
    text-align: center;
   // font-size: 35px;
}


.card {
    height: 435px;
    width: 270px;
    border-radius: 9px;
    background-color: $color-light-s;
    text-align: center;
    cursor: pointer;
}  

.card:hover {
    background-color: $color-light-xl;
    .cardButton__wrapper {
        background: $color-primary;
    }
} 

.pets-card-title {
    text-align: center;
    color: $color-dark-l;
    margin: 22px 0 30px 0;
}

.cardButton__wrapper{
    text-align: center;
    background-color: $color-light-s;
}

.button__wrapper{
    text-align: center;
    align-items: center;
  //  margin-top:60px;   
}