.startScreenMain {
    display: flex;
    @include media-laptop {
        flex-wrap: wrap;
        align-items: center;
    }  
}

.startScreenContent {
    margin-top: 165px;
    display: flex;
    flex-direction: column;

    @include media-laptop {
        margin: 30px 0 100px;
        max-width: 460px;
        align-items: center;
    }

    @include media-mobile {
        text-align: center;
    } 
}

.heading {
    color: $color-light-xl;
    padding: 0 100px 42px 0;
}

.subheading {
    color: $color-dark-s;
    padding-bottom: 42px;
}

.make-friends {
    @include media-laptop {
        text-align: center;
    }
}
.startScreenImage {
    margin-left: 42px;
    
    @include media-laptop {
        align-self: flex-end;
        margin: auto 0 0 auto;
    }

    @include media-laptop {
        max-width: 569px;
        width: 100%;
    }

    @include media-tablet {
       width: 260px;
    }
}
