.startScreenMain {
    display: flex;
}

.startScreenContent {
    margin-top: 165px;
    display: flex;
    flex-direction: column;
}

.heading {
    color: $color-light-xl;
    padding: 0 100px 42px 0;
}

.subheading {
    color: $color-dark-s;
    padding-bottom: 42px;
}

.startScreenImage {
    margin-left: 42px;
    margin-top: -10px 0 0 20px;
}
