.wrapper {
    max-width: $content-width;   
    margin: auto;     
    @include media-laptop {
        padding: 0px 30px 0;
    }
    @include media-mobile {
        padding: 0px 10px 0;
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-wrapper {
    padding: 60px 0;    

    @include media-laptop {
       padding: 30px 0;
    }

}

.header-pets-wrapper {
    padding: 30px 0 30px 0;
    @include media-laptop {
    //    padding: 0 0 30px;
     }
}